<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UNR - Carreras</title>

    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/carreras.js"></script>
    <script src="/js/auth.js"></script>
</head>

<body>

    <header>
        <h1><span class="siglas">UNR</span> National University of Rosario | <span class="translate">Universidad
                Nacional de Rosario</span></h1>
        <div id="logs">
            <span id="user-info"></span>

            <a id="login" href="/login">
                Login with GitHub
            </a>

            <a id="logout" href="/logout" style="display: none;">
                Logout
            </a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/carreras/display">Degree Programs</a>
            <a href="/facultades/display">Universities</a>
            <a href="/api-docs">API DOCS</a>
            <a href="https://unr.edu.ar/" target="_blank">UNR Site</a>
        </nav>
    </header>

    <main>
        <h2>Degree Programs List</h2>
        <section class="cards">
            <a href="/carreras">
                ➢ See API degree programs
            </a>
        </section>
        <div id="carreras">

        </div>


    </main>

    <footer>

        <a href="/api-docs">API DOCS</a>
        <p>Project 2 | CSE 341 BYU | Bruno Celada 2026</p>
    </footer>

</body>

</html>