<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UNR - Carreras and Facultades</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <h1><span class="siglas">UNR</span> National University of Rosario | <span class="translate">Universidad
                Nacional de Rosario</span></h1>

        <nav>
            <a href="/">Home</a>
            <a href="/carreras">Degree Programs</a>
            <a href="/facultades">Universities</a>
            <a href="https://unr.edu.ar/" target="_blank">UNR Site</a>
        </nav>
    </header>

    <main>

        <section>
            <h2>Find your degree</h2>

            <a href="/carreras">
                See degree programs
            </a>

            <a href="/facultades">
                See universities
            </a>
        </section>

    </main>

    <footer>
        <p>Project 2 | CSE 341 BYU | Bruno Celada 2026</p>
    </footer>

</body>

</html>